@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.feature-card1 {
  transition: background-color ease-in-out 300ms
}

.feature-card1:hover {
  background-color: #3e096a;
}

.feature-card2 {
  transition: background-color ease-in-out 300ms
}

.feature-card2:hover {
  background-color: #94063f;
}

.feature-card3 {
  transition: background-color ease-in-out 300ms
}

.feature-card3:hover {
  background-color: #0a2a79;
}

.feature-card4 {
  transition: background-color ease-in-out 300ms
}

.feature-card4:hover {
  background-color: #137808;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
}


.line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #464545; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.line-text { 
   background:black; 
   padding:0 10px; 
}

.mosaic-split-line {
  color: black;
  background-color: black;
}