@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.feature-card1 {
  transition: background-color ease-in-out 300ms
}

.feature-card1:hover {
  background-color: #3e096a;
}

.feature-card2 {
  transition: background-color ease-in-out 300ms
}

.feature-card2:hover {
  background-color: #94063f;
}

.feature-card3 {
  transition: background-color ease-in-out 300ms
}

.feature-card3:hover {
  background-color: #0a2a79;
}

